$difficulty-button-background: #202020;

.container {
  padding: 1em 4em;
}

.rules-list {
  max-width: 50em;
  line-height: 1.5em;
}

.konane-board-cell {
  padding: 0;
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  &:focus {
    outline: none;
  }
}

.cell-animation {
  display: flex;
  justify-content: flex-start;
  margin: 1.5em;
  border: var(--board-border-width) solid black;
  height: max-content;
  width: max-content;
}

.play-difficulty-buttons-container {
}

.play-difficulty-level {
  background: $difficulty-button-background;
  color: white;
  padding: 0.5em 1em;
  border-radius: var(--button-border-radius);

  &:hover {
    background: darken($difficulty-button-background, 50%);
  }
}
