.container {
  height: 100vh;
  width: 100vw;
}

.konane-board {
  &-container {
    border: 1em solid black;
    width: max-content;
    aspect-ratio: 1 / 1;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-row {
    display: flex;
    justify-content: center;
  }
  &-cell {
    font-size: 1.5em;
    font-weight: bold;
    width: var(--cell-size);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.player-turn-message {
  width: max-content;
  font-size: 2em;
  padding: 0.5em 1em;
  position: relative;
  left: 50%;
  top: 5%;
}

.player-dashboard {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15vw;
  border: 2px solid black;
  &-human,
  &-computer {
    box-shadow: 0 0 1em 1em gold;
    text-align: center;
    padding: 1em;
  }
}

.set-player-modal {
  &-content {
    width: 50%;
    aspect-ratio: 1 / 0.25;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
      to bottom right,
      white 0%,
      white 50%,
      black 50%,
      black 100%
    );
    border-radius: 1em;
    border: 1px solid black;
  }
}

.active-action-confirmation-modal {
  &-content {
    padding: 5% 10%;
    width: max(30vw, 450px);
    div:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  &-prompt {
    font-size: 1.5em;
    position: relative;
    top: 0;
    left: 0;
  }
  &-action-description {
    padding: 0.5em;
  }
  &-buttons {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  &-yes-button,
  &-no-button {
    padding: 0.5em 2em;
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}
